/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300;400;600;700&display=swap');

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.centerthem {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: 'Catamaran', sans-serif;
}
.customfont {
  font-family: 'Catamaran', sans-serif;
}
button {
  font-family: 'Catamaran', sans-serif;
}

input {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
}